/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* General */
* {
  margin: 0;
  padding: 0;
}

body,
html {
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    height: 99%;

      font-family: 'Montserrat', sans-serif;

    text-transform: uppercase;
    color: #e2dbdb;
}

/* Main view */

h1 {
  font-size: 3em;
}

.container {
  display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

  height: 100%;
}

.middle {
  padding: 1.2em 0 1.2em 0;
}

section {
  display: flex;

    justify-content: center;
    align-items: center;
}

/* Button's */

.btn {
  border-radius: 2em;

  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: white;
}

.btn-primary {
  background-color: #F05F44;
  border: 1px #d9543c solid;

  transition: ease .1s;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border: 4px #ee4b08 solid;

  cursor: pointer;
}

.btn-xl {
  padding: 1rem 2rem;
}

/* Other */

hr {
  width: 65px;

    border: #F05F44 1px solid;
}
